/* Temp testing stuff DELETE THIS IN PROD */ 

#midline {
    width: 50%;
    height: 100%;
    background-color: red;
}

/* Base HTML stuff */

body, html {
    color: var(--fontColour);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px !important;
}

.sectionHeading {
    margin: 0;
    font-size: 2rem;
}

.sectionSubheading {
    margin: 0;
    font-size: 1.5rem;
}

/* Theme section */

:root {
    --highlightColourPrimary: #f73c39;
    --highlightColourSecondary: #f78739; 
    --UIBackgroundPrimary: #181818;
    --UIBackgroundSecondary: #010101;
    --fontColour: #f2f2f2;
    --UIBase: #282b30;
    --UIDarker: #1e2124;
    --UILighter: #42464d;
    --UIHover: #2C3034;

}

/* Navbar section */

#navbar {
    background-color: var(--UIBase);
    position: sticky;
    width: 100%;
    height: 3rem;
}

/* Villain Container */ 

#villainSectionContainer {
    width: 100%;
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
}

 /* Project timeline section */

#projectTimelineSection {
    background-color: var(--UIBackgroundPrimary);
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.timelineItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--UIBackgroundPrimary);
    height: 100%;
    width: 100%;
}

.timelineItemSvg {
    margin: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#timelineProgressBar {
    background-color:var(--UILighter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -0.25rem;
    left: calc(12.5% - 0.5rem);
    right: calc(12.5% - 0.5rem);
    height: 0.5rem;
    border-radius: 0.5rem;
}

#timelineProgressBar:after {
    background: linear-gradient(270deg, var(--highlightColourPrimary) 0%, var(--highlightColourPrimary) 25%, var(--highlightColourSecondary) 100%);
    content: "";
    position: absolute;
    z-index: 1;
    width: 33.33%;
    height: 0.5rem;
    border-radius: 0.5rem;
    animation: timelineProgressBar 20s infinite;
}

@keyframes timelineProgressBar {
    0% {width: 0%;}
    15% {width: 0%;}
    25% {width: 33.33%;}
    40% {width: 33.33%;}
    50% {width: 66.66%;}
    65% {width: 66.66%;}
    75% {width: 100%;}
    90% {width: 100%; opacity: 1;}
    100% {opacity: 0;}
}

.timelineProgressNode {
    background-color: white;
    z-index: 2;
    width: 0.5rem;
    height: 0.5rem;
    border: white solid 0.25rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 0 0.25rem var(--UILighter);
}

#timelineProgressNode1 {
    animation: timelineProgressNode1 20s infinite;
    box-shadow: 0 0 0 0.25rem var(--highlightColourPrimary);
}

@keyframes timelineProgressNode1 {
    0% {background-color: var(--highlightColourPrimary); box-shadow: 0 0 0 0.25rem var(--highlightColourPrimary);}
    15% {background-color: var(--highlightColourPrimary); box-shadow: 0 0 0 0.25rem var(--highlightColourPrimary);}
    25% {background-color: white; box-shadow: 0 0 0 0.25rem var(--highlightColourSecondary);}
    90% {background-color: white; box-shadow: 0 0 0 0.25rem var(--highlightColourSecondary);}
    100% {background-color: var(--highlightColourPrimary);}
}

#timelineProgressNode2 {
    animation: timelineProgressNode2 20s infinite;
}

@keyframes timelineProgressNode2 {
    0% {background-color: white; box-shadow: 0 0 0 0.25rem var(--UILighter);}
    23% {background-color: white; box-shadow: 0 0 0 0.25rem var(--UILighter);}
    26% {background-color: var(--highlightColourPrimary); box-shadow: 0 0 0 0.25rem var(--highlightColourPrimary);}
    40% {background-color: var(--highlightColourPrimary); box-shadow: 0 0 0 0.25rem var(--highlightColourPrimary);}
    50% {background-color: var(--fontColour);}
    75% {background-color: white; box-shadow: 0 0 0 0.25rem var(--highlightColourSecondary);}
    90% {background-color: white; box-shadow: 0 0 0 0.25rem var(--highlightColourSecondary);}
    100% {background-color: white; box-shadow: 0 0 0 0.25rem var(--UILighter);}
}

#timelineProgressNode3 {
    animation: timelineProgressNode3 20s infinite;
}

@keyframes timelineProgressNode3 {
    0% {background-color: white; box-shadow: 0 0 0 0.25rem var(--UILighter);}
    48% {background-color: white; box-shadow: 0 0 0 0.25rem var(--UILighter);}
    51% {background-color: var(--highlightColourPrimary); box-shadow: 0 0 0 0.25rem var(--highlightColourPrimary);}
    65% {background-color: var(--highlightColourPrimary); box-shadow: 0 0 0 0.25rem var(--highlightColourPrimary);}
    75% {background-color: white; box-shadow: 0 0 0 0.25rem var(--highlightColourPrimary);}
    90% {background-color: white; box-shadow: 0 0 0 0.25rem var(--highlightColourPrimary);}
    100% {background-color: white; box-shadow: 0 0 0 0.25rem var(--UILighter);}
}

#timelineProgressNode4 {
    animation: timelineProgressNode4 20s infinite;
}

@keyframes timelineProgressNode4 {
    0% {background-color: white; box-shadow: 0 0 0 0.25rem var(--UILighter);}
    73% {background-color: white; box-shadow: 0 0 0 0.25rem var(--UILighter);}
    76% {background-color: var(--highlightColourPrimary); box-shadow: 0 0 0 0.25rem var(--highlightColourPrimary);}
    90% {background-color: var(--highlightColourPrimary); box-shadow: 0 0 0 0.25rem var(--highlightColourPrimary);}
    100% {background-color: white; box-shadow: 0 0 0 0.25rem var(--UILighter);}
}

/* About section */

#aboutSection {
    background-color: var(--UIDarker);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 0.5;
    box-sizing: border-box;
    padding-top: 0.75rem;
}

/* Services section */

#servicesSection {
    background-color: var(--UIDarker);
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    flex-grow: 1.5;
}

.servicesItem {
    background-color: var(--UIBase);
    height: 100%;
    width: 100%;
    margin-bottom: -1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
}
